USE [master]
GO
/****** Object:  Database [AngeDB]    Script Date: 10/30/2025 5:42:52 PM ******/
CREATE DATABASE [AngeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngeDB', FILENAME = N'C:\MSSQL\Data\AngeDB_New.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngeDB_log', FILENAME = N'C:\MSSQL\Data\AngeDB_New_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngeDB]
GO
/****** Object:  Schema [ENR]    Script Date: 10/30/2025 5:42:52 PM ******/
CREATE SCHEMA [ENR]
GO
/****** Object:  Schema [rec]    Script Date: 10/30/2025 5:42:52 PM ******/
CREATE SCHEMA [rec]
GO
/****** Object:  Schema [usr]    Script Date: 10/30/2025 5:42:52 PM ******/
CREATE SCHEMA [usr]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminNumber] [int] NOT NULL,
	[AdminName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdminNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLog]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ScheduleId] [int] NULL,
	[PCNumber] [varchar](50) NOT NULL,
	[RoomNumber] [varchar](50) NULL,
	[LogDate] [date] NOT NULL,
	[LogOnTime] [time](7) NOT NULL,
	[LogOffTime] [time](7) NULL,
 CONSTRAINT [PK__Attendan__5E5499A8486FB246] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceOverride]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceOverride](
	[OverrideID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[OverrideDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ApprovedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherNumber] [int] NOT NULL,
	[TeacherName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TeacherNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENR].[Enrollment]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENR].[Enrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENR].[Schedule]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENR].[Schedule](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[RoomNumber] [varchar](50) NULL,
 CONSTRAINT [PK_ENR_Schedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENR].[ScheduleDetail]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENR].[ScheduleDetail](
	[ScheduleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[Days] [varchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_ENR_ScheduleDetail] PRIMARY KEY CLUSTERED 
(
	[ScheduleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ENR].[StudentSchedule]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ENR].[StudentSchedule](
	[StudentScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rec].[Student]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rec].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNumber] [int] NOT NULL,
	[StudentName] [nvarchar](100) NOT NULL,
	[GradeLevel] [int] NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rec].[Subject]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rec].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [varchar](20) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[TeacherID] [int] NULL,
 CONSTRAINT [PK_rec_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [usr].[AspNetRoles]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [usr].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [usr].[AspNetUserRoles]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [usr].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [usr].[AspNetUsers]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [usr].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendanceLog] ADD  CONSTRAINT [DF__Attendanc__LogDa__47DBAE45]  DEFAULT (CONVERT([date],getdate())) FOR [LogDate]
GO
ALTER TABLE [dbo].[AttendanceLog] ADD  CONSTRAINT [DF__Attendanc__LogOn__48CFD27E]  DEFAULT (CONVERT([time],getdate())) FOR [LogOnTime]
GO
ALTER TABLE [ENR].[Enrollment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [ENR].[StudentSchedule] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AttendanceLog]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__Stude__49C3F6B7] FOREIGN KEY([StudentID])
REFERENCES [rec].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[AttendanceLog] CHECK CONSTRAINT [FK__Attendanc__Stude__49C3F6B7]
GO
ALTER TABLE [dbo].[AttendanceLog]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceLog_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [ENR].[Schedule] ([ScheduleId])
GO
ALTER TABLE [dbo].[AttendanceLog] CHECK CONSTRAINT [FK_AttendanceLog_ScheduleId]
GO
ALTER TABLE [ENR].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([StudentID])
REFERENCES [rec].[Student] ([StudentID])
GO
ALTER TABLE [ENR].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [ENR].[StudentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StudentSchedule_Enrollment] FOREIGN KEY([EnrollmentID])
REFERENCES [ENR].[Enrollment] ([EnrollmentID])
GO
ALTER TABLE [ENR].[StudentSchedule] CHECK CONSTRAINT [FK_StudentSchedule_Enrollment]
GO
ALTER TABLE [ENR].[StudentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StudentSchedule_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [ENR].[Schedule] ([ScheduleId])
GO
ALTER TABLE [ENR].[StudentSchedule] CHECK CONSTRAINT [FK_StudentSchedule_Schedule]
GO
ALTER TABLE [usr].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [usr].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [usr].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Roles]
GO
ALTER TABLE [usr].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [usr].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [usr].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddAttendanceOverride]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddAttendanceOverride]
    @studentNumber VARCHAR(50),
    @overrideDate DATE,
    @startTime TIME(7),
    @endTime TIME(7),
    @approvedBy VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StudentID INT;

    -- Get StudentID
    SELECT @StudentID = StudentID 
    FROM rec.Student 
    WHERE StudentNumber = @studentNumber;

    IF @StudentID IS NULL
    BEGIN
        RAISERROR('Invalid Student Number.', 16, 1);
        RETURN;
    END

    -- Insert override
    INSERT INTO AttendanceOverride (StudentID, OverrideDate, StartTime, EndTime, ApprovedBy, CreatedAt)
    VALUES (@StudentID, @overrideDate, @startTime, @endTime, @approvedBy, GETDATE());

    -- Return the new OverrideID
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS OverrideID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttendanceByAdmin]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAttendanceByAdmin]
    @ColumnName NVARCHAR(50) = NULL,
    @Value NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        st.StudentNumber,
        st.StudentName,
        sub.SubjectCode,
        sub.SubjectName,
        t.TeacherName,
        a.PCNumber,
        a.RoomNumber,
        a.LogDate,
        a.LogOnTime,
        a.LogOffTime
    FROM AttendanceLog a
    INNER JOIN rec.Student st 
        ON a.StudentID = st.StudentID
    INNER JOIN (
        -- De-duplicate schedule links
        SELECT DISTINCT ScheduleID, EnrollmentID
        FROM enr.StudentSchedule
    ) ss 
        ON ss.ScheduleID = a.ScheduleID
    INNER JOIN enr.Schedule sch 
        ON sch.ScheduleID = ss.ScheduleID
    INNER JOIN rec.Subject sub 
        ON sub.SubjectID = sch.SubjectID
    INNER JOIN dbo.Teachers t 
        ON t.TeacherID = sub.TeacherID
    INNER JOIN enr.Enrollment e 
        ON e.EnrollmentID = ss.EnrollmentID
    WHERE (
            @ColumnName IS NULL OR
            (@ColumnName = 'StudentNumber' AND st.StudentNumber = TRY_CAST(@Value AS BIGINT)) OR
            (@ColumnName = 'StudentName' AND st.StudentName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'SubjectCode' AND sub.SubjectCode LIKE '%' + @Value + '%') OR
            (@ColumnName = 'SubjectName' AND sub.SubjectName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'TeacherName' AND t.TeacherName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'PCNumber' AND a.PCNumber = @Value) OR
            (@ColumnName = 'RoomNumber' AND a.RoomNumber = @Value) OR
            (@ColumnName = 'LogDate' AND a.LogDate = TRY_CAST(@Value AS DATE))
          )
    ORDER BY 
        a.RoomNumber ASC,
        sub.SubjectName ASC,
        t.TeacherName ASC,
        st.StudentName ASC,
        a.LogDate ASC,
        a.LogOnTime ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttendanceByAdminRange]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAttendanceByAdminRange]
    @StartDate DATE,
    @EndDate DATE,
    @SubjectID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        a.LogID,
        st.StudentID,
        st.StudentNumber,
        st.StudentName,
        sub.SubjectID,
        sub.SubjectCode,
        sub.SubjectName,
        a.PCNumber,
        a.RoomNumber,
        a.LogDate,
        a.LogOnTime,
        a.LogOffTime,
        t.TeacherID,
        t.TeacherName
    FROM AttendanceLog a
    INNER JOIN rec.Student st 
        ON a.StudentID = st.StudentID
    INNER JOIN (
        SELECT DISTINCT ScheduleID, EnrollmentID
        FROM enr.StudentSchedule
    ) ss 
        ON ss.ScheduleID = a.ScheduleID
    INNER JOIN enr.Schedule sch 
        ON sch.ScheduleID = ss.ScheduleID
    INNER JOIN rec.Subject sub 
        ON sub.SubjectID = sch.SubjectID
    INNER JOIN dbo.Teachers t 
        ON t.TeacherID = sub.TeacherID
    INNER JOIN enr.Enrollment e 
        ON e.EnrollmentID = ss.EnrollmentID
    WHERE a.LogDate BETWEEN @StartDate AND @EndDate
      AND (@SubjectID IS NULL OR sub.SubjectID = @SubjectID)
    ORDER BY 
        a.RoomNumber ASC,
        sub.SubjectName ASC,
        t.TeacherName ASC,
        st.StudentName ASC,
        a.LogDate ASC,
        a.LogOnTime ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttendanceByTeacher]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAttendanceByTeacher]
    @TeacherNumber INT,
    @ColumnName NVARCHAR(50) = NULL,
    @Value NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        st.StudentNumber,
        st.StudentName,
        sub.SubjectCode,
        sub.SubjectName,
        a.PCNumber,
        a.RoomNumber,
        a.LogDate,
        a.LogOnTime,
        a.LogOffTime
    FROM AttendanceLog a
    INNER JOIN rec.Student st 
        ON a.StudentID = st.StudentID
    INNER JOIN enr.StudentSchedule ss 
        ON ss.ScheduleID = a.ScheduleID
    INNER JOIN enr.Schedule sch 
        ON sch.ScheduleID = ss.ScheduleID
    INNER JOIN rec.Subject sub 
        ON sub.SubjectID = sch.SubjectID
    INNER JOIN dbo.Teachers t 
        ON t.TeacherID = sub.TeacherID
    INNER JOIN enr.Enrollment e 
        ON e.EnrollmentID = ss.EnrollmentID
    WHERE 
        t.TeacherNumber = @TeacherNumber
        AND (
            @ColumnName IS NULL OR
            (@ColumnName = 'StudentNumber' AND st.StudentNumber = TRY_CAST(@Value AS BIGINT)) OR
            (@ColumnName = 'StudentName' AND st.StudentName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'SubjectCode' AND sub.SubjectCode LIKE '%' + @Value + '%') OR
            (@ColumnName = 'SubjectName' AND sub.SubjectName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'PCNumber' AND a.PCNumber = @Value) OR
            (@ColumnName = 'RoomNumber' AND a.RoomNumber = @Value) OR
            (@ColumnName = 'LogDate' AND a.LogDate = TRY_CAST(@Value AS DATE))
        )
    ORDER BY 
        sub.SubjectName ASC,
        st.StudentName ASC,
        a.LogDate ASC,
        a.LogOnTime ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttendanceByTeacherRange]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAttendanceByTeacherRange]
    @TeacherNumber INT,
    @StartDate DATE,
    @EndDate DATE,
    @SubjectID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        st.StudentNumber,
        st.StudentName,
        sub.SubjectCode,
        sub.SubjectName,
        a.PCNumber,
        a.RoomNumber,
        a.LogDate,
        a.LogOnTime,
        a.LogOffTime
    FROM AttendanceLog a
    INNER JOIN rec.Student st 
        ON a.StudentID = st.StudentID
    INNER JOIN enr.StudentSchedule ss 
        ON ss.ScheduleID = a.ScheduleID
    INNER JOIN enr.Schedule sch 
        ON sch.ScheduleID = ss.ScheduleID
    INNER JOIN rec.Subject sub 
        ON sub.SubjectID = sch.SubjectID
    INNER JOIN dbo.Teachers t 
        ON t.TeacherID = sub.TeacherID
    INNER JOIN enr.Enrollment e 
        ON e.EnrollmentID = ss.EnrollmentID
    WHERE 
        t.TeacherNumber = @TeacherNumber
        AND a.LogDate BETWEEN @StartDate AND @EndDate
        AND (@SubjectID IS NULL OR sub.SubjectID = @SubjectID)
    ORDER BY 
        sub.SubjectName ASC,
        st.StudentName ASC,
        a.LogDate ASC,
        a.LogOnTime ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsByAdmin]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentsByAdmin]
    @ColumnName NVARCHAR(50) = NULL,
    @Value NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        st.StudentID, 
        st.StudentNumber, 
        st.StudentName, 
        st.GradeLevel
    FROM rec.Student st
    WHERE (
            @ColumnName IS NULL OR
            (@ColumnName = 'GradeLevel' AND st.GradeLevel = TRY_CAST(@Value AS INT)) OR
            (@ColumnName = 'StudentName' AND st.StudentName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'StudentNumber' AND st.StudentNumber = TRY_CAST(@Value AS BIGINT))
          );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsByTeacher]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentsByTeacher]
    @TeacherNumber INT,
    @ColumnName NVARCHAR(50) = NULL,
    @Value NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Get Student's Latest enrollment
	-- (so were filtering out a senior student's 2nd year subjects)
    WITH LatestEnrollment AS (
        SELECT e.StudentID, e.EnrollmentID
        FROM enr.Enrollment e
        JOIN (
            SELECT StudentID, MAX(CreatedDate) AS MaxDate
            FROM enr.Enrollment
            GROUP BY StudentID
        ) em ON e.StudentID = em.StudentID AND e.CreatedDate = em.MaxDate
    )

    -- Join students, subjects, teacher, and latest enrollment
    SELECT DISTINCT 
        st.StudentID, 
        st.StudentNumber, 
        st.StudentName, 
        st.GradeLevel
    FROM LatestEnrollment le
    INNER JOIN rec.Student st ON st.StudentID = le.StudentID
    INNER JOIN enr.StudentSchedule ss ON ss.EnrollmentID = le.EnrollmentID
    INNER JOIN enr.Schedule sch ON sch.ScheduleID = ss.ScheduleID
    INNER JOIN rec.Subject sub ON sub.SubjectID = sch.SubjectID
    INNER JOIN dbo.Teachers t ON t.TeacherID = sub.TeacherID
    WHERE t.TeacherNumber = @TeacherNumber
      AND (
            @ColumnName IS NULL OR
            (@ColumnName = 'GradeLevel' AND st.GradeLevel = TRY_CAST(@Value AS INT)) OR
            (@ColumnName = 'StudentName' AND st.StudentName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'StudentNumber' AND st.StudentNumber = TRY_CAST(@Value AS BIGINT))
          );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubjectsByAdmin]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSubjectsByAdmin]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.SubjectID, 
        s.SubjectName SubjectName,
        t.TeacherName AS TeacherName
    FROM rec.Subject s
    INNER JOIN dbo.Teachers t ON s.TeacherID = t.TeacherID
    ORDER BY s.SubjectName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubjectsByTeacher]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSubjectsByTeacher]
    @TeacherNumber INT,
    @ColumnName NVARCHAR(50) = NULL,
    @Value NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        sub.SubjectID,
        sub.SubjectName AS SubjectName
    FROM rec.Subject sub
    INNER JOIN dbo.Teachers t ON t.TeacherID = sub.TeacherID
    WHERE t.TeacherNumber = @TeacherNumber
      AND (
            @ColumnName IS NULL OR
            (@ColumnName = 'SubjectName' AND sub.SubjectName LIKE '%' + @Value + '%') OR
            (@ColumnName = 'SubjectID' AND sub.SubjectID = TRY_CAST(@Value AS INT))
          );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUser]
    @userNumber INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Students
    SELECT 
        StudentNumber AS UserNumber,
        'Student' AS Role,          -- 0 = Student
        StudentName AS Username
    FROM rec.Student
    WHERE StudentNumber = @userNumber

    UNION

    -- Teachers
    SELECT 
        TeacherNumber AS UserNumber,
        'Employee' AS Role,          -- 1 = Teacher
        TeacherName AS Username
    FROM dbo.Teachers
    WHERE TeacherNumber = @userNumber

    UNION

    -- Admins
    SELECT 
        AdminNumber AS UserNumber,
        'MIS' AS Role,          -- 2 = Admin
        AdminName AS Username
    FROM dbo.Admins
    WHERE AdminNumber = @userNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLogOffTime]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateLogOffTime]
    @LogID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE AttendanceLog
    SET LogOffTime = GETDATE()
    WHERE LogID = @LogID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateStudentAttendance]    Script Date: 10/30/2025 5:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateStudentAttendance]
    @studentNumber NVARCHAR(50),
    @pcNumber VARCHAR(50),
    @roomNumber VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StudentID INT;
    DECLARE @EnrollmentId INT;
    DECLARE @ScheduleId INT;

    --DECLARE @Now TIME = CAST(GETDATE() AS TIME);
    --DECLARE @Today DATE =  CAST(GETDATE() AS DATE);

	-- Set a fixed datetime: October 18, 2025, 9:00 PM
	DECLARE @Today DATE = '2025-10-18';
	DECLARE @Now TIME = '10:00:00';

    DECLARE @TodayCode VARCHAR(7);
        SET @TodayCode =
            CASE DATENAME(WEEKDAY, @Today)
                WHEN 'Monday' THEN 'M'
                WHEN 'Tuesday' THEN 'T'
                WHEN 'Wednesday' THEN 'W'
                WHEN 'Thursday' THEN 'Th'
                WHEN 'Friday' THEN 'F'
                WHEN 'Saturday' THEN 'S'
                WHEN 'Sunday' THEN 'Su'
            END;

    -- Get StudentID
    SELECT @StudentID = StudentID
    FROM rec.Student
    WHERE StudentNumber = @studentNumber;

    IF @StudentID IS NULL
    BEGIN
        RAISERROR('Invalid student number.', 16, 1);
        RETURN;
    END;

    -- Get latest EnrollmentId
    SELECT TOP 1 @EnrollmentId = EnrollmentId
    FROM enr.Enrollment
    WHERE StudentId = @StudentID
    ORDER BY CreatedDate DESC;

    -- Step 1: Check scheduled class or override
    SELECT TOP 1 @ScheduleId = ScheduleId
    FROM (
        SELECT sd.ScheduleId
        FROM ENR.Enrollment e
        JOIN ENR.StudentSchedule cs ON e.EnrollmentId = cs.EnrollmentId
        JOIN ENR.Schedule s ON s.ScheduleId = cs.ScheduleId
        JOIN rec.Subject sj ON sj.SubjectId = s.SubjectId
        JOIN ENR.ScheduleDetail sd ON sd.ScheduleId = s.ScheduleId
        WHERE e.EnrollmentId = @EnrollmentId
          AND CHARINDEX(@TodayCode, sd.Days) > 0
          AND @Now BETWEEN sd.StartTime AND sd.EndTime

        UNION ALL

        SELECT 0
        FROM AttendanceOverride ao
        WHERE ao.StudentID = @StudentID
          AND ao.OverrideDate = @Today
          AND @Now BETWEEN ao.StartTime AND ao.EndTime
    ) a;

    -- Step 4: Log attendance
IF @ScheduleId IS NOT NULL
BEGIN
    INSERT INTO AttendanceLog (StudentID, ScheduleId, PCNumber, RoomNumber, LogDate, LogOnTime)
    VALUES (@StudentID, @ScheduleId, @pcNumber, @roomNumber, @Today, @Now);

    -- Return the LogID of the inserted row for future LogOff
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS LogID;
END
ELSE
SELECT 0;
END;
GO
USE [master]
GO
